.DS_Store
.vim/plugged
.vim/.netrwhist
*.swp
workspace/
.bash_history
.bash_sessions/
.cups/
.docker/
.dotfiles/
.ssh/
.viminfo
.wget-hsts
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
configs/
keepass/
tasks/
thesis/
